<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logging</title>
    <div class="panel active" id="log-panel">
        <div id="log-header">
            <button class="lvl-btn DEBUG" data-level="DEBUG">DEBUG</button>
            <button class="lvl-btn INFO" data-level="INFO">INFO</button>
            <button class="lvl-btn WARNING" data-level="WARNING">WARNING</button>
            <button class="lvl-btn ERROR" data-level="ERROR">ERROR</button>
            <button class="lvl-btn CRITICAL" data-level="CRITICAL">CRITICAL</button>
            <button id="clear-btn">clear</button>
        </div>
        <div id="log-wrap">
            <div id="log"></div>
        </div>
    </div>
</head>

<body>

</body>

</html>